version: "3.8"

services:
  postgresDB:
    image: pgvector/pgvector:pg14
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sw-grupal
    volumes:
      - ./postgres:/var/lib/postgresql/data
    ports:
      - "5436:5432"
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis-cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge